// @import 'bootstrap-icons/font/bootstrap-icons';
// @import 'bootstrap/dist/css/bootstrap';


// app/assets/stylesheets/application.bootstrap.scss loaded with sprockets-rails
// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap-icons/font/bootstrap-icons';
@import 'font-awesome';

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

// h1 {
//   color: green;
// }

// .navbar-brand {
//   font-size: 3rem;
// }
